<div class="container mx-4" >
    <h2 class="text-center mb-3">Todo List Project</h2>
  <app-add-todos (todoAdd)="addTodo($event)"></app-add-todos>
</div>
<div class="mx-3" *ngIf="this.todos.length === 0; else elseBlock"><h2>No Todos to Display</h2></div>
<ng-template #elseBlock>
  <h3 class="mx-3">Your Todos</h3>
  <div *ngFor="let todo of todos; index as i" class="container mx-4">
    <app-todo-item
      [todo]="todo"
      [i]="i"
      (todoDelete)="deleteTodo($event)"
      (todoCheckBox)="toggleTodo($event)"
    ></app-todo-item>
  </div>
</ng-template>
